.carrito{
    margin-top: 100px;
    margin-bottom: 50px;
}
.carrito-titulo{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}
.carrito-item{
    margin: 10px 0px;
    color: black;
}
.carrito-item img{
    width: 60px;
}

.carrito hr{
    height: 1px;
    background-color: #e2e2e2e2;
    border: none;
}
.carrito-item .remover{
    cursor: pointer;
}
.carrito-especs{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}
.carrito-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.carrito-detalles{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.carrito-total hr{
    margin: 10px 0px;
}
.carrito-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.carrito-promo{
    flex: 1;
}
.carrito-promo p{
    color: #555;
}
.carrito-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.carrito-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.carrito-input button{
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.carrito .precio-original {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
}

.carrito .precio-descuento {
    color: green;
    font-weight: bold;
}

.carrito .mensaje-promocion {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width:750px){
    .carrito-especs{
        flex-direction: column-reverse;
    }
    .carrito-promo{
        justify-content: start;
    }
}
