.dis-prod {
    margin-top: 30px;
    text-align: center;
}

.dis-prod h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    margin-bottom: 20px;
}

.contenedor-carrusel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carrusel {
    display: flex;
    overflow-x: hidden; /* Oculta el scrollbar horizontal */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%; /* Asegura que el carrusel ocupe todo el ancho disponible */
}

.producto-carrusel {
    flex: 0 0 auto;
    width: 250px; /* Ajusta el ancho según sea necesario */
    margin: 0 10px;
}

.prev, .sig {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Asegura que los botones se superpongan a las imágenes */
}

.sig {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .sig:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .producto-carrusel {
        width: 200px; /* Ajusta el ancho para pantallas más pequeñas */
    }

    .prev, .sig {
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .producto-carrusel {
        width: 150px; /* Ajusta el ancho para pantallas más pequeñas */
    }

    .prev, .sig {
        padding: 8px;
        font-size: 14px;
    }
}