.form-orden{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.orden-izq{
    width: 100%;
    max-width: max(30%, 500px);
}
.orden-izq .orden-titulo{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.orden-izq input, .orden-izq select, .orden-izq option{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.orden-izq .orden-inputs{
    display: flex;
    gap: 10px;
}
.orden-der{
    width: 100%;
    max-width: max(40%, 600px);
}
.form-orden .carrito-total button{
    margin-top: 25px;
}

.aviso {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #fff3cd; 
    border: 1px solid #ffeeba; 
    border-radius: 8px; 
    color: #856404; 
    font-size: 14px;
    margin: 10px 0; 
}

.aviso p {
    margin: 0;
    font-weight: 500;
}

.aviso::before {
    content: "⚠️"; 
    font-size: 18px;
}
.mensaje-error {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb; 
    border-radius: 8px; 
    color: #721c24; 
    font-size: 14px;
    margin: 10px 0;
}

.mensaje-error p {
    margin: 0;
    font-weight: 500;
}

.mensaje-error::before {
    content: "❌"; 
    font-size: 18px;
}