@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --alto-header: 3.5rem;
    --body-fuente: "Roboto Condensed", sans-serif;
    --fuente-size: .938rem;

    --fuente-regular: 400;
    --fuente-semi-bold: 600;

    /* z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root{
        --fuente-size: 1rem;
    }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  font-family:var(--body-fuente);
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

